<!DOCTYPE html>
<html>
<head>
  <title>Edit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Edit post</h1>

    <form action="/submit-edit/<%= post.id %>" method="POST">
      <label>Title</label>
      <input type="text" name="title" value="<%= post.title %>" required />

      <label>Content</label>
      <input type="text" name="content" value="<%= post.content %>" required />

      <button type="submit-edit" class="edit-btn">Edit</button>
    </form>
  </div>
  <footer id="footer">
    <div class="wave"></div>
    <p>Waris's Blog</p>
  </footer>
</body>
</html>
