<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <a href="/" id="item" style="margin-top: 75%;">← Back to Home</a>
  </div>
  <%- include("footer") %>
</body>
</html>

